body {
  line-height: 1.5;
}

form {
  margin-bottom: 1em;
}

input {
  font-size: inherit;
  padding: 5px;
  width: 20em;
  max-width: 100%;
}

.search-box {
  text-align: center;
  font-size: 1.4em;
}

footer {
  font-size: 90%;
  color: #333;
  font-style: italic;
}

#output {
  padding: 1em;
  margin: 1em;
}

#output p.doc {
  white-space: pre-wrap;
  background-color: #f9fafa;
  border: 1px solid #ccc;
  box-shadow: 3px 3px 3px #eee;
  margin: 0;
  padding: 1em;
}

#output pre.demo {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;  
  background-color: #f9fafa;
  border: 1px solid #ccc;
  box-shadow: 3px 3px 3px #eee;
  padding: 1em;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: #0366d6;
}

a:hover {
  text-decoration: underline;
}

@media (max-width: 1000px) {
  .search-box {
    margin-top: 1em;
  }
}
