form {
  margin-bottom: 1em;
}

input {
  font-size: 100%;
}

.search-box {
  text-align: center;
  font-size: 1.5rem;
}

footer {
  font-size: 90%;
  color: #333;
  font-style: italic;
}

#output {
  text-align: left;
  border: 1px solid #ccc;
  box-shadow: 3px 3px 3px #eee;
  padding: 1em;
  margin: 1em;
  background-color: #f9fafa;
}

#output p {
  line-height: 1.5;
  white-space: pre-wrap;
  margin: 0;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: #0366d6;
}

a:hover {
  text-decoration: underline;
}
